# Python Examples

## 1.Python Syntax

### 1.1.Print Hello World

In [38]:
print("Hello World")

Hello World

### 1.2.Comments in Python

In [54]:
#this is single comment in python

### 1.3 Docstrings in python

In [50]:
""" 
this is python """
print("Hello world")

Hello world

## 2.Python Variables

### 2.1 Create a variable and output variable

In [61]:
x = 10
y = 20
z = x+y
print("The sum of x and y is:",z)

The sum of x and y is: 30

## 3.Python Numbers

### 3.1 Verify the type of an object

In [70]:
x = 10
y = "praba"
z = True
a = 11.2
b = 12E4
c = 12e3
print("x's type:", type(x))
print("y's type:", type(y))
print("z's type:", type(z))
print("a's type:", type(a))
print("b's type:", type(b))
print("c's type:", type(c))

x's type: <class 'int'>
y's type: <class 'str'>
z's type: <class 'bool'>
a's type: <class 'float'>
b's type: <class 'float'>
c's type: <class 'float'>

### 3.2. Complex numbers

In [73]:
x = 5j
y = 2+8j
z = -4j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### 3.3 Casting

In [91]:
x = int(2.1)
y = str(1111)
z = float('11')
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

2
1111
11.0
<class 'int'>
<class 'str'>
<class 'float'>

## 4. Python Strings

#### Get the character at position 1 of a string

In [97]:
myStr = 'prabakaran'
print(myStr[1])
#1 st index is r

r

#### Substring get the characters from position 2 to 5

In [100]:
print(myStr[2:5])

aba

#### Remove the whitespace from the string

In [109]:
myStr = """        
hello how are you                """
print(myStr.strip())

hello how are you

#### Return length of the string

In [116]:
print(len(myStr))
#with space every space considered character

42

In [118]:
print(len(myStr.strip()))
#after removing space

17

#### connvert string to upper and lower

In [123]:
myStr = "Reference site about Lorem Ipsum, giving in"
print(myStr.lower())
print(myStr.upper())
print(myStr.capitalize())

reference site about lorem ipsum, giving in
REFERENCE SITE ABOUT LOREM IPSUM, GIVING IN
Reference site about lorem ipsum, giving in

#### Replace string with another string

In [126]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

#### Split strings into substrings

In [129]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

## 5. Python Operators

In [133]:
a = 1111
b = 12
#addition +
print(a+b)

#subtraction -
print(a-b)

#multiplication *
print(a*b)

#divison /
print(a/b)

#floor division //
print(a//b)

#modulous %
print(a%b)

#assignment =
x = 5
print(x)

1123
1099
13332
92.58333333333333
92
7
5

## 6. Python Lists

#### Create a List and access list

In [141]:
myList = [1,2,3,4,4,4]
print(myList)
print(myList[1])

[1, 2, 3, 4, 4, 4]
2

### Change the value of list

In [144]:
myList[1] = 112121
print(myList)

[1, 112121, 3, 4, 4, 4]

#### Loop through the list

for i in myList:
    print(i)

#### check if a list item exist

In [158]:
if 1 in myList:
    print("1 exists in the list")

1 exists in the list

#### length of List

In [161]:
print(len(myList))

6

#### add an item at the end of the list
#### its surrounded by []
Lists are mutable. it means once its created it can be modified. ordered, allowed duplicate values. allowed all types values.

In [164]:
myList.append(12121212)
print(myList)

[1, 112121, 3, 4, 4, 4, 12121212]

#### add an item at the specific place of the list

In [169]:
myList.insert(3, 1043)
print(myList)

[1, 112121, 3, 1043, 4, 4, 4, 12121212]

#### remove an item from the list

In [175]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
thislist.insert(1, "mango")
print(thislist)

['banana', 'mango', 'cherry']

#### Remove the last item from the list

In [178]:
thislist.pop()
print(thislist)

['banana', 'mango']

#### remove the specified index

In [181]:
del thislist[0]
print(thislist)

['mango']

#### How to empty a List

In [184]:
thislist.clear()
myList.clear()
print(myList)
print(thislist)

[]
[]

#### Prepare a new list using list() constructor

In [211]:
myList = list(("apple", "ball", "kiwi", "jackfruit", 1, 2, True, False, 5j, -1, 12E4, 32e4, 2+8j, -98j))
print(myList)
print(len(myList))

['apple', 'ball', 'kiwi', 'jackfruit', 1, 2, True, False, 5j, -1, 120000.0, 320000.0, (2+8j), (-0-98j)]
14

## 7.Python Tuples

#### create a tuple and access tuple get length of tuple
#### Its surrounded by ()
Tuples are immutable. it means once its created it cannot be modified. ordered, allowed duplicate values. allowed all types values.

In [242]:
myTuple = (1,2,3,4,5,6,7,8, "apple", True, False, 5j, -1, 12E4, 32e4, 2+8j, -98j, [1,2,3], {"name":"praba"}, (12,24))
print(myTuple)
print(len(myTuple))

(1, 2, 3, 4, 5, 6, 7, 8, 'apple', True, False, 5j, -1, 120000.0, 320000.0, (2+8j), (-0-98j), [1, 2, 3], {'name': 'praba'}, (12, 24))
20

#### Change the tuple values   'tuple' object does not support item assignment

In [245]:
myTuple[1] = 12121212
print(myTuple)
#'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

#### how to loop through tuple

In [248]:
for i in myTuple:
    print(i)

1
2
3
4
5
6
7
8
apple
True
False
5j
-1
120000.0
320000.0
(2+8j)
(-0-98j)
[1, 2, 3]
{'name': 'praba'}
(12, 24)

#### how to check if a tuple exists

In [258]:
if "apple" in myTuple:
    print("exists")

exists

#### length of tuple

In [261]:
print(len(myTuple))

20

#### Delete a tuple

In [264]:
del myTuple
print(myTuple)

NameError: name 'myTuple' is not defined

#### Create a new tuple using tuple() constructor

In [267]:
myTuple = ("praba", "karan", "amma", "praga", "dhana", "appa", "kutty")
print(myTuple)

('praba', 'karan', 'amma', 'praga', 'dhana', 'appa', 'kutty')

#### Remove last element from tuple

#### We can Convert to list, remove last element, convert back to tuple

In [275]:
myTuple = tuple(list(myTuple)[:-1])
print(myTuple)

('praba', 'karan', 'amma', 'praga', 'dhana', 'appa')

## 8.Python Sets

#### Sets are surrounded by "{ }"
#### Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

#### Create a set and access set

In [383]:
mySet = {"ab", "bc","cd", "hello", 1,2,3,-1,True,False,12E4, -9j}
print(mySet)

{False, 'ab', 2, 1, 'hello', 3, 'cd', 120000.0, (-0-9j), 'bc', -1}

#### Loop through a set

In [386]:
for i in mySet:
    print(i)

False
ab
2
1
hello
3
cd
120000.0
(-0-9j)
bc
-1

#### check if item exists in set

In [389]:
if 'ab' in mySet:
    print("exists")

exists

#### Add item to set and get the length of set

In [392]:
mySet.add("hello")
print(mySet)
#this will not allow duplicates. it will display only one hello.

{False, 'ab', 2, 1, 'hello', 3, 'cd', 120000.0, (-0-9j), 'bc', -1}

In [394]:
#### Add multiple items to set
mySet.update(["orange", "mango", "grapes"])
print(mySet)

{False, 'ab', 2, 1, 'hello', 3, 'cd', 120000.0, (-0-9j), 'orange', 'mango', 'bc', 'grapes', -1}

In [396]:
print(len(mySet))

14

#### Remove item from set

#### Sets can be removed by using these methods remove('add specific index'), discard('add specific index'), pop() => remove last item

In [400]:
mySet.remove("ab")
print(mySet)

{False, 2, 1, 'hello', 3, 'cd', 120000.0, (-0-9j), 'orange', 'mango', 'bc', 'grapes', -1}

In [402]:
mySet.pop()
print(mySet)

{2, 1, 'hello', 3, 'cd', 120000.0, (-0-9j), 'orange', 'mango', 'bc', 'grapes', -1}

In [404]:
mySet.discard("cd")
print(mySet)

{2, 1, 'hello', 3, 120000.0, (-0-9j), 'orange', 'mango', 'bc', 'grapes', -1}

In [406]:
#### Empty a set using clear method
mySet.clear()
print(mySet)

set()

In [408]:
mySet.update(["orange", "mango", "grapes"])
print(mySet)

{'grapes', 'orange', 'mango'}

#### Delete a set

In [411]:
print("before delete", mySet)
del mySet
print(mySet)

before delete {'grapes', 'orange', 'mango'}

NameError: name 'mySet' is not defined

#### Make a new set using set() constructor

In [433]:
f = 1
g = 2
h = 3
mySet = set((f,g,h))
print(mySet)

{1, 2, 3}

## Python Dictionaries

#### 9. Create Dictionaries and access Dictionaries

#### Dictionaries will be key and value pair. surrounded by { } 
#### Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [442]:
myDict = {
    "name": "praba",
    "age":32,
    "place":"bangalore"
}
print(myDict)

{'name': 'praba', 'age': 32, 'place': 'bangalore'}

#### change the value of specific item in dict

In [446]:
myDict['place'] = 'chennai'
print(myDict)

{'name': 'praba', 'age': 32, 'place': 'chennai'}

#### print all keys from dict

In [461]:
print(myDict.keys())
#without inbuilt function
for i in myDict:
    print(i)

dict_keys(['name', 'age', 'place'])
name
age
place

#### Print all values from dict

In [463]:
print(myDict.values())
#without inbuilt function
for i in myDict:
    print(myDict[i])

dict_values(['praba', 32, 'chennai'])
praba
32
chennai

#### Using items

In [466]:
for x,y in myDict.items():
    print(x,"=>",y)

name => praba
age => 32
place => chennai

#### Check if key is exists

In [470]:
if 'name' in myDict:
    print("exists")

exists

#### Length of Dictionary

In [473]:
print(len(myDict))

3

#### Add item to Dictionary

In [476]:
myDict["state"] = "Tamilnadu"
print(myDict)

{'name': 'praba', 'age': 32, 'place': 'chennai', 'state': 'Tamilnadu'}

#### Remove item from Dictionary

In [479]:
myDict.pop('name')
print(myDict)

{'age': 32, 'place': 'chennai', 'state': 'Tamilnadu'}

#### How to empty dictionary

In [482]:
myDict.clear()
print(myDict)

{}

#### Create a new dictionary using dict() constructor

In [485]:
myDict = dict(name="praba", country="india", age=33, pincode="560303")
print(myDict)

{'name': 'praba', 'country': 'india', 'age': 33, 'pincode': '560303'}

## If statement

#### If elif else

In [489]:
a = 10
b = 12
c = 14
if a>b and b>c:
    largest = a
elif b>a and b>c:
    largest = b
else:
    largest = c
print(largest)

14

#### Shorthand If elif else

In [509]:
print('A is larger' if a > b and a > c else 'B is larger' if b > a and b > c else 'C is larger')

C is larger

In [511]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## Python While Loop

In [514]:
i = 1
while i < 5:
    print(i)
    i += 1

1
2
3
4

#### Use break statement in while. Basically break will terminate the execution of while loop

In [7]:
i = 1
while i < 5:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

#### Use continue statement in while. Basically continue will skip the current  the iteration of while loop

In [9]:
i = 0
while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5

#### Using Python for Loop through List

In [12]:
myList = ["apple", "banana", "kiwi"]
for i in myList:
    print(i)

apple
banana
kiwi

#### Using Python for Loop through string

In [17]:
myStr = "prabakaran is my first name"
for i in myStr:
    print(i)

p
r
a
b
a
k
a
r
a
n

i
s

m
y

f
i
r
s
t

n
a
m
e

#### Use break statement in for loop

In [26]:
for i in myStr:
    if i == 'a':
        break
    print(i)

p
r

In [24]:
for i in myStr:
    if i == 'a':
        continue
    print(i)

p
r
b
k
r
n

i
s

m
y

f
i
r
s
t

n
m
e

#### Range in for loop

In [51]:
for i in range(1,21):
    print("Multiplication of 2nd table:",i,"*2=",i*2)

Multiplication of 2nd table: 1 *2= 2
Multiplication of 2nd table: 2 *2= 4
Multiplication of 2nd table: 3 *2= 6
Multiplication of 2nd table: 4 *2= 8
Multiplication of 2nd table: 5 *2= 10
Multiplication of 2nd table: 6 *2= 12
Multiplication of 2nd table: 7 *2= 14
Multiplication of 2nd table: 8 *2= 16
Multiplication of 2nd table: 9 *2= 18
Multiplication of 2nd table: 10 *2= 20
Multiplication of 2nd table: 11 *2= 22
Multiplication of 2nd table: 12 *2= 24
Multiplication of 2nd table: 13 *2= 26
Multiplication of 2nd table: 14 *2= 28
Multiplication of 2nd table: 15 *2= 30
Multiplication of 2nd table: 16 *2= 32
Multiplication of 2nd table: 17 *2= 34
Multiplication of 2nd table: 18 *2= 36
Multiplication of 2nd table: 19 *2= 38
Multiplication of 2nd table: 20 *2= 40

#### Nested loop in python

In [54]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## Python Functions

#### Create and call a function with different parameters

In [72]:
def myFunction(a,b,c,d):
    print(a,b,c,d)
myFunction([1,2], (11,12), {'name':'praba', 'age':32}, {12E3, 'ab', 'bc','cd'})

[1, 2] (11, 12) {'name': 'praba', 'age': 32} {12000.0, 'bc', 'cd', 'ab'}

#### Default Parameter

In [76]:
def my_function(state = "TamilNadu"):
  print("I am from " + state)

my_function("Karnataka")
my_function("Andhra")
my_function()
my_function("Kerala")

I am from Karnataka
I am from Andhra
I am from TamilNadu
I am from Kerala

#### Rerurn value in a function

In [79]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

#### using recursion function

In [82]:
def factorial(n):
    # Base case: if n is 0 or 1, return 1
    if n == 0 or n == 1:
        return 1
    else:
        # Recursive case: n * factorial of (n-1)
        return n * factorial(n - 1)

# Example usage
print(factorial(5))  # Output: 120

120

## Python Lambda

#### A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

#### Perform addition, subtraction and multiplication using lambda function

In [95]:
a = lambda x,y: x+y
print(a(10,14))

b = lambda x,y: x-y
print(b(10,14))

c = lambda x,y: x*y
print(c(10,14))

24
-4
140

## Python Arrays

#### Create an array and access get lenth of an array

In [100]:
myArray = ["praba", "karan", "praga", "vara"]
print(len(myArray))
print(myArray)

4
['praba', 'karan', 'praga', 'vara']

#### Loop through an array

In [104]:
for i in myArray:
    print(i)

praba
karan
praga
vara

#### Add an element in an array

In [107]:
myArray.append('dhanam')
print(myArray)

['praba', 'karan', 'praga', 'vara', 'dhanam']

#### Remove element from an array

In [112]:
myArray.pop(1)
print(myArray)

['praba', 'praga', 'vara', 'dhanam']

## Python Classes and Objects

#### Create a class and create an object

In [130]:
inputVal = input("Enter any value: ")
class MyClass:
    def __init__(self, arg):
        self.arg = arg
    def getData(self):
        return self.arg
myObj = MyClass(inputVal)
print("You have entered: ", myObj.getData())

Enter any value praba

You have entered:  praba

#### modify the object property

In [132]:

inputVal = input("Enter any value: ")
class MyClass:
    def __init__(self, arg):
        self.arg = arg
    def getData(self):
        return self.arg
myObj = MyClass(inputVal)
myObj.arg = "you cant change any value since I am modified"
print("You have entered: ", myObj.getData())

Enter any value 121212

You have entered:  you cant change any value since I am modified

#### delete the object property

In [142]:

inputVal = input("Enter any value: ")
class MyClass:
    def __init__(self, arg):
        self.arg = arg
    def getData(self):
        return self.arg
myObj = MyClass(inputVal)
myObj.arg = "you cant change any value since I am modified"
print("before deleting object: ", myObj.getData())
del myObj.arg
print("You have entered: ", myObj.getData())
#'MyClass' object has no attribute 'arg' because the object is no more.

Enter any value:  hellllllll

before deleting object:  you cant change any value since I am modified

AttributeError: 'MyClass' object has no attribute 'arg'

#### Delete whole object from class

In [147]:
inputVal = input("Enter any value: ")
class MyClass:
    def __init__(self, arg):
        self.arg = arg
    def getData(self):
        return self.arg
myObj = MyClass(inputVal)
myObj.arg = "you cant change any value since I am modified"
print("before deleting object: ", myObj.getData())
del myObj
print("You have entered: ", myObj.getData())
#'MyClass' object has no attribute 'arg' because the object is no more.

Enter any value:  1121

before deleting object:  you cant change any value since I am modified

NameError: name 'myObj' is not defined

#### Inheritance

##### Inheritance allows a class (called a subclass or derived class) to inherit attributes and methods from another class (called a superclass or base class). This promotes code reuse and establishes a relationship between classes.

In [192]:
# Parent class
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        return f"{self.name} makes a sound."

# Child class
class Dog(Animal):
    def speak(self):
        return f"{self.name} barks."

# Child class
class Cat(Animal):
    def speak(self):
        return f"{self.name} meows."

# Creating instances
dog = Dog("Subramani naai kutty")
cat = Cat("Kanmani poona kutty")

# Calling methods
print(dog.speak())  # Output: Rex barks.
print(cat.speak())  # Output: Whiskers meows.

Subramani naai kutty barks.
Kanmani poona kutty meows.

## Polymorphism also knon as Method Overriding

##### Method overriding allows a subclass to provide a specific implementation of a method that is already defined in its superclass. This is useful for modifying or extending the behavior of inherited methods. This will have same methods with same number of parameters

#### Polymorphism allows objects of different classes to be treated as objects of a common superclass. It enables method overriding, allowing the same method name to have different implementations based on the objects class. Method Overriding

In [195]:
# Parent class
class Vehicle:
    def start(self):
        return "The vehicle is starting."

# Child class
class Car(Vehicle):
    def start(self):
        return "The car is starting with a roar!"

# Child class
class Bicycle(Vehicle):
    def start(self):
        return "The bicycle is starting quietly."

# Creating instances
car = Car()
bicycle = Bicycle()

# Calling methods
print(car.start())      
print(bicycle.start())

The car is starting with a roar!
The bicycle is starting quietly.

## Multiple Inheritance

##### Multiple inheritance allows a subclass to inherit from more than one superclass. This can be useful but may also lead to complexity, particularly with the diamond problem (ambiguities in method resolution).

In [199]:
# Parent class 1
class Father:
    def skills(self):
        return "Gardening, Carpentry"

# Parent class 2
class Mother:
    def skills(self):
        return "Cooking, Painting"

# Child class
class Child(Father, Mother):
    def skills(self):
        father_skills = Father.skills(self)
        mother_skills = Mother.skills(self)
        return f"Child's skills: {father_skills}, {mother_skills}, Sports"

# Creating an instance of Child
child = Child()

# Calling the method
print(child.skills())  # Output: Child's skills: Gardening, Carpentry, Cooking, Painting, Sports

Child's skills: Gardening, Carpentry, Cooking, Painting, Sports

## Encapsulation and Data Hiding

##### Which is used to hide internal implementation details of an object. 
##### visibility is the mechanism for encapsulation. 
##### we can hide using private method. 
##### it can be accessed in the same class itself. 
##### Second advantage of encapsulation is you can make the class read only or write only by providing setter or getter method.

#### Data Hiding: By convention, attributes that are not meant to be accessed directly from outside the class can be prefixed with an underscore ( _ ) or double underscore ( __ ).

In [211]:
class Person:
    def __init__(self, name, age):
        self.name = name            # Public attribute
        self.__age = age            # Private attribute

    # Getter for age
    def get_age(self):
        return self.__age

    # Setter for age
    def set_age(self, new_age):
        if new_age >= 0:
            self.__age = new_age
        else:
            print("Age cannot be negative.")

# Creating an instance of Person
person = Person("Alice", 30)

# Accessing public attribute
print(person.name)               # Output: Alice

# Accessing age via getter
print(person.get_age())          # Output: 30

# Modifying age via setter
person.set_age(35)               # Valid update
print(person.get_age())          # Output: 35

person.set_age(-5)               # Invalid update; Output: Age cannot be negative.

Alice
30
35
Age cannot be negative.

#### Public Attribute: name can be accessed directly.
#### Private Attribute: __age is hidden and accessed through getter and setter methods.
####  Controlled Access: The setter method checks if the new age is valid before updating it.

## Python Modules

In [221]:
#using inbuild module
import numpy as np
myList = [1,2,3,5]
myArray = np.array(myList)
print(myArray)

[1 2 3 5]

In [223]:
#using dir
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_java_getprop', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_parse_os_release', '_platform', '_platform_cache', '_sys_version', '_sys_version_cache', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_stages', '_win32_ver', '_wmi_query', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

## Python Dates

### Display current date time, day, year, month using date module

In [227]:
import datetime
currentDate = datetime.datetime.now()
print(currentDate)

2024-10-23 17:02:19.104806

In [229]:
print(currentDate.year)

2024

In [231]:
print(currentDate.month)

10

In [233]:
print(currentDate.day)

23

In [239]:
print(currentDate)

2024-10-23 17:02:19.104806

### create date object

In [243]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

### Display month from date

In [246]:
import datetime

x = datetime.datetime(2024, 10, 1)

print(x.strftime("%B"))

October

## Python Math

In [251]:
x = min(51, 10, 25)
y = max(52, 10, 25)

print(x)
print(y)

10
52

#### Return absolute value of number

In [254]:
x = -8373
print(abs(x))

8373

#### Return the value x to the power of (x^y)

In [257]:
x = pow(4,2) 
#4 will squared 
print(x)

16

#### find the square root of the given number

In [260]:
import math
x = math.sqrt(81)
print(x)

9.0

#### Round a number upward to its nearest integer
#### Round a number downward to its nearest integer

In [264]:
#Import math library
import math

#Round a number upward to its nearest integer
x = math.ceil(1.4)

#Round a number downward to its nearest integer
y = math.floor(1.4)

print(x)
print(y)

2
1

#### Return the value of pi

In [267]:
import math

x = math.pi

print(x)

3.141592653589793

## Python JSON

In [270]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

#### convert from python dict to json

In [275]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])
print(x)

30
{ "name":"John", "age":30, "city":"New York"}

## Python Try Except

#### which is used to handle the error. the program continues to run smoothly, even when unexpected events occur.  It involves using specific constructs to catch and manage errors, preventing the program from crashing.

#### try, except, finally Blocks:

#### try block: This block contains code that might raise an exception. If an error occurs, Python immediately jumps to the corresponding except block.

#### except block: This block handles the exception that occurs in the try block. You can specify different except blocks for different types of exceptions.

#### finally block: This block contains code that will execute no matter what, whether an exception occurs or not. Its often used for cleanup actions, like closing files or releasing resources.

In [289]:
try:
  print(xc)
except:
  print("An exception occurred")
#The try block will generate a NameError, because x is not defined:

An exception occurred

#### Handling Multiple Exceptions

In [292]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("Invalid input! Please enter a valid number.")
except ZeroDivisionError:
    print("Cannot divide by zero.")

Enter a number:  l

Invalid input! Please enter a valid number.

#### The try block does not raise any errors, so the else block is executed

In [295]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

#### Handling Multiple Exceptions in a Single Block

In [300]:
try:
    number = int(input("Enter a number: "))
    result = 10 / number
except (ValueError, ZeroDivisionError) as e:
    print(f"An error occurred: {e}")

Enter a number:  ss

An error occurred: invalid literal for int() with base 10: 'ss'

#### Raising Exceptions Manually (raise)

##### Python allows you to raise exceptions manually using the raise keyword. This is useful when you want to enforce specific conditions or create custom error messages.

In [304]:
def check_age(age):
    if age < 18:
        raise ValueError("Age must be 18 or older.")
    return "Access granted."

try:
    print(check_age(16))
except ValueError as e:
    print(f"Error: {e}")

Error: Age must be 18 or older.

#### Custom Exceptions

#### You can create custom exception classes in Python by inheriting from the built-in Exception class. Custom exceptions are useful for defining your own error conditions that are specific to your application.

In [308]:
class NegativeNumberError(Exception):
    """Custom exception for negative numbers."""
    def __init__(self, number):
        self.number = number
        super().__init__(f"Negative numbers are not allowed: {number}")

def square_root(number):
    if number < 0:
        raise NegativeNumberError(number)
    else:
        return number ** 0.5

try:
    print(square_root(-9))
except NegativeNumberError as e:
    print(e)

Negative numbers are not allowed: -9

## Numpy

In [2]:
import numpy as np
myList = [1,2,3,5]
myArray = np.array(myList)
print(myArray)
print(myArray.shape)

[1 2 3 5]
(4,)

In [4]:
import numpy as np
myList = [[1,2,4], [2,4,6]]
myArray = np.array(myList)
print(myArray)
print(type(myArray))
print("first row",myArray[0])
print("Last row",myArray[-1])
print("whole row", myArray[:,2])

[[1 2 4]
 [2 4 6]]
<class 'numpy.ndarray'>
first row [1 2 4]
Last row [2 4 6]
whole row [4 6]

## Pandas 
Pandas library used to analyze the data.
Pandas provides data structures and functionality to quickly manipulate and analyse the data.
The key to understanding pandas for Machine learning is understanding the series and DataFrames and data statistics

#### Series:
A series is one dimensional array where the rows and columns can be labled.

In [6]:
import numpy as np
import pandas as pd
myListVal = [1,2,5]
myArrayVal = np.array(myListVal)
rowNames = ['a','b','c']
mySeries = pd.Series(myArrayVal, index=rowNames)
print("My series:",mySeries)

My series: a    1
b    2
c    5
dtype: int64

## Numpy Arithmetic operations

In [10]:
import numpy as np
myList1 = [2,2,2]
myArray1 = np.array(myList1)
myList2 = [3,3,3]
myArray2 = np.array(myList2)
print("addition:", myArray1 + myArray2)
print("multiplication:", myArray1 * myArray2)

addition: [5 5 5]
multiplication: [6 6 6]

## Pandas DataFrame

#### Dataframe:
A dataframe is a multi-dimensional array where the rows and columns can be labled.

In [8]:
import numpy as np
import pandas as pd
from streamlit import columns

myListVal = [[1,2,5], [4,67,3]]
myArrayVal = np.array(myListVal)
rowNames = ['a','b']
colNames = ['one','two','three']
mydf = pd.DataFrame(myArrayVal, index=rowNames, columns=colNames)
print("My Dataframe:",mydf)

#index using column names
dataframe1 = mydf['one']
dataframe2 = mydf['two']
dataframe11 = mydf.one
dataframe22 = mydf.two
print("df one: ",dataframe1)
print("df two: ",dataframe2)

print("df one1: ",dataframe11)
print("df two2: ",dataframe22)

My Dataframe:    one  two  three
a    1    2      5
b    4   67      3
df one:  a    1
b    4
Name: one, dtype: int64
df two:  a     2
b    67
Name: two, dtype: int64
df one1:  a    1
b    4
Name: one, dtype: int64
df two2:  a     2
b    67
Name: two, dtype: int64